 * {
    margin: 0;
    background-color:#0a192f;
    color: #CCDCF6;
    box-sizing: border-box;
}

.splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background: #0a192f;
    z-index: 200;
    color: aliceblue;
    text-align: center;
    line-height: 90vh;
    font-family: 'Source Code Pro', monospace;
}
.splash.display-none{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background: #0a192f;
    z-index: -10;
    color: aliceblue;
    text-align: center;
    line-height: 90vh;
    transition: all 0.5s;
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }  
}
.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}
body{
    width: 100%;
    height: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    align-items: center;
}

.icon-c{
    height: 150px;
    width: auto;
    
}
@media only screen and (max-width: 600px) {
    .icon-c{
        display: none;
    }
}

nav a{
    margin: 1.25rem;
    font-family: 'Source Code Pro', monospace;
}

.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 2.75rem;
    
}
@media only screen and (max-width: 400px){
    .links{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-right: 0;
    }
    nav{
        margin-bottom: 2rem;
        text-align: center;
    }
}
#button {
    font-family: 'Teko', sans-serif;
    font-size: 1.25rem;
    background-color: #0a192f;
    border: 2px solid #64FFDA;
    color: #64FFDA;
    padding: 1rem;
    border-radius: 10%;
    margin-left: 1.25rem;
}

.intro{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 6rem;
    flex-direction: column;
    flex-wrap: wrap;
}

.intro-wrapper{
    width: fit-content;
    height: auto;
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 25%;
}

.intro h1{
    width: 100%;
    font-size: 1rem;
    color: #64FFDA;
    font-family: 'Source Code Pro', monospace;
}

.intro h2{
    font-size: 5rem;
    color: #CCDCF6;
    font-family: 'Source Code Pro', monospace;
}

.intro h3{
    font-size: 5rem;
    color: #8892B0;
    font-family: 'Source Code Pro', monospace;
}
@media only screen and (max-width: 420px){
    .intro h3{
        font-size: 3rem;
        margin-bottom: 2rem;
        text-align: start;
    }
    .intro h2{
        font-size: 3.5rem;
        text-align: start;
    }
    .intro h1{
        font-size: 0.75rem;
        text-align: start;
    }
    .intro p{
        text-align: start;
    }
    .intro-wrapper{
        margin-left: 0;
    }
}
.intro p{
    color:#8892B0;
    font-family: 'Source Code Pro', monospace;
}

.intro a{
    color:#64FFDA;
    font-family: 'Teko', sans-serif;
    font-size: 1.25rem;
}

.hr1{
    background-image: linear-gradient(to right, white, #0a192f, transparent);
    border: 0;
    height: 1px;
    width: 100%;
}

.aboutmain{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: calc(100%-2rem);
    flex-direction: column;
    margin-top: 6.25rem;
    height: auto;
    margin-bottom: 15rem;
}

.aboutmain h2{
    color: #8892B0;
}

.abouttitle{
    font-family: 'Source Code Pro', monospace;
    width: 100%;
    height: auto; 
    grid-column-start: 2;
}

.abouttitle a{
    color:#64FFDA;
    font-size: 2.5rem;
    font-family: 'Teko', sans-serif;
}
.about-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

@media only screen and (max-width: 650px){
    .about-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
    
.aboutp1{
    display: flex;
    width: 500px;
    height: auto;
    font-size: 1.125rem;
    margin-top: 1.25rem;
    word-spacing: 1px;
    line-height: 1.5;
    font-family: 'Source Code Pro', monospace;
    grid-column-start: 2;
    
}
@media only screen and (max-width: 499px){
    .aboutp1{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }
}
.aboutp1 p{
    color:#8892B0;
    margin-bottom: 3.125rem;
    width: 100%;
}

.aboutp1 a{
    color:#64FFDA;
    font-family: 'Teko', sans-serif;
    font-size: 1.375rem;
    letter-spacing: 2px;
    
}

.aboutp2{
    border: 2px solid #64FFDA;
    border-radius: 10px;
    padding: 5px;
    height: 10.938rem;
    width: 31.25rem;
    grid-column-start: 2;
    grid-row-start: 5;
    
}
@media only screen and (max-width: 499px){
    .aboutp2{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }
}
.aboutp2 a{
    color:#64FFDA;
    font-size: 1.25rem;
    font-family: 'Teko', sans-serif;
}
.aboutp2 p{
    color:#8892B0;
    font-family: 'Source Code Pro', monospace;
    
}
.aboutp2 ul{
    columns: 2;
    margin-top: 5px;
    list-style-type: none;
}

ul li{
    color:#8892B0;
    font-family: 'Source Code Pro', monospace;
    margin-left: 3.125rem;
}

ul li::before{
    content: "\2604";
    color:#64FFDA;
    margin-left: -20px;
}

.img-container{
    width: 220px;
    height: 270px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("./assets/colin.jpg");
    border-radius: 10px;
    z-index: 10;
    box-shadow: inset 0 0 0 1000px rgba(100,255,218,.4);
    grid-column-start: 4;
}

.inner-container {
    width: 220px;
    height: 270px;
    margin-left: 20px;
    border: 2px solid #64FFDA;
    background-color: transparent;
    border-radius: 10px;
    z-index: 1;
    position: relative;
    top: 15px;
  }

  @media only screen and (max-width: 1244px) {
    .img-container{
        display: none;
    }
    .inner-container{
        display: none;
    }
    
}

.hr2{
    background-image: linear-gradient(to right, white, #0a192f, transparent);
    border: 0;
    height: 1px;
    width: 100%;
}
.projects{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10%;
}
.projects-title{
   width: 100%;
   height: auto;
   text-align: center;
   margin-top: 5rem;
   margin-bottom: 2rem;
}
.projects-title h2{
    color:#8892B0;
    font-family: 'Source Code Pro', monospace;
}
.projects-title a{
    color:#64FFDA;
    font-family: 'Teko', sans-serif;
    font-size: 2.5rem;

}
.projects-wrapper{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
    margin-top: 3%;
}
@media only screen and (max-width: 785px) {
    .projects-wrapper{
        display: flex;
        flex-direction: column;
    }
    
}
figcaption{
    color: #8892B0;
    font-family: 'Source Code Pro', monospace;
 }
 figcaption a{
    color: #64FFDA;
    font-family: 'Teko', sans-serif;
    font-size: 1.25rem;
 }
#project1{
    vertical-align: top;
    display: inline-block;
    text-align: center;  
}
.project1{
    border: 2px solid #64FFDA;
}
.project1:hover{
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s;
    overflow: hidden;
}
#project2{
    vertical-align: top;
    display: inline-block;
    text-align: center;   
}

.project2{
    border: 2px solid #64FFDA;
    height: 275px;
    width: 275px;
}
.project2:hover{
    border-radius: 50px;
    transition: all 0.5s;
    overflow: hidden;
    cursor: pointer;
}

#project3{
    vertical-align: top;
    display: inline-block;
    text-align: center;  
    
}
.project3{
    border: 2px solid #64FFDA;
}
.project3:hover{
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s;
}

.description-container{
    align-self: center;
    border: 2px solid #64FFDA;
    border-radius: 10px;
    padding: 0.3rem;
    width:fit-content;
    height: auto;
    
}
#project-description{
    font-size: 1.25rem;
    font-family: 'Source Code Pro', monospace;
    color: #8892B0;
}
#project-description a{
    color: #64FFDA;
    font-family: 'Teko', sans-serif;
    font-size: 1.563rem;
}

.projects-wrapper h4{
    color: #8892B0;
    font-family: 'Source Code Pro', monospace;
}

.contact-me{
    width: 100%;
    margin-bottom: 3.125rem;
    text-align: center;
}

.contact-title h2{
    color:#8892B0;
    font-family: 'Source Code Pro', monospace;
    margin-top: 6.25rem;
    margin-bottom: 1.875rem;
}
.contact-title a{
    color: #64FFDA;
    font-family: 'Teko', sans-serif;
    font-size: 1.875rem;
}
.contact-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-info{
    border: 2px solid #64FFDA;
    border-radius: 10px;
    padding: 5px;
    width: 400px;
    text-align: center;
}
.contact-info p{
    color:#8892B0;
    font-family: 'Source Code Pro', monospace;
}
.contact-info a{
    color: #64FFDA;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
}
footer{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
footer p{
    color: #8892B0;
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
}